<form>
  <label for='username'>Username</label>
  <input name='username' type='text' />
  <label for='password'>Password</label>
  <input type='password' name='password' />
  <label for='password_confirm'>Confirm</label>
  <input type='password' name='password_confirm />
  <label for='email'>Email</label>
  <input name='email' type='text' />
  <button>Join</button>
</form>
