<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" contente="IE=edge,chrome=1">
    <title>Jokeinabox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= include_javascripts :app %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id='header'></div>
    <div id='notice'></div>
    <div id='app'></div>
    <%= yield %>
  </body>
</html>
